<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Meter AI: Unveiling Emotions Through AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="header">
        <h1>Mood Meter AI</h1>
        <p>Experience the New Frontier in Emotion Recognition</p>
    </header>

    <main>
        <section id="welcome" class="section">
            <div class="container">
                <h2>Welcome to Mood Meter AI</h2>
                <p>Hello, welcome to Mood Meter AI, where we employ deep learning neural net models in the recognition of human
                    emotion. Emotion is an extremely nuanced and subjective form of expression, conveyed in many ways and
                    heavily reliant on the idiosyncrasies of human behavior. Our models are trained to identify seven basic emotions: anger, disgust, fear, happiness, sadness,
                    surprise, and neutrality. Beyond these, we leverage Plutchik's wheel to delve into complex emotions,
                    offering a comprehensive analysis of your emotional expression.</p>
                <button class="button" onclick="window.location.href='/record-video'">Start Recording</button>
            </div>
        </section>

        <section id="how-it-works" class="section bg-light">
            <div class="container">
                <h2>How It Works</h2>
                <div class="steps">
                    <div class="step">
                        <h3>1. Record Your Video</h3>
                        <p>Start by recording a video of yourself. Ensure your face is clearly visible and speak
                            naturally.</p>
                    </div>
                    <div class="step">
                        <h3>2. Send It to Our AI</h3>
                        <p>Upload your video. Our backend system will then process it using two specialized
                            convolutional neural networks.</p>
                    </div>
                    <div class="step">
                        <h3>3. Discover Your Emotions</h3>
                        <p>Receive insights about the predominant emotions displayed visually and audibly in your
                            recording.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="about-plutchiks-wheel" class="section">
            <div class="container">
                <h2>About Plutchik's Wheel</h2>
                <div class="flex-container">
                    <img src="../static/home_page/plutchiks_wheel.png" alt="Plutchik's Wheel of Emotions"
                        class="plutchiks-wheel-image">
                    <p>Plutchik's Wheel of Emotions is a comprehensive model that illustrates the relationships among the
                        primary emotions and how they combine to form complex emotions. The wheel features eight basic emotions:
                        joy, trust, fear, surprise, sadness, anticipation, anger, and disgust. These primary emotions act as the
                        foundation for more nuanced and complex emotional states by combining in various ways. For example,
                        anticipation and joy together foster optimism, while fear and surprise might combine to create awe.
                        Through understanding Plutchik's Wheel, we gain insight into the intricate web of human emotions and how
                        basic feelings can merge to produce the rich tapestry of human emotional experience.</p>
                </div>
            </div>
        </section>



    </main>

    <script src="/static/scripts.js"></script>
</body>

</html>