<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The Mood Meter</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
  <div class="header">
    <h1>The Mood Meter</h1>
  </div>
  <div class="main container">
    <p>Our state of the Art multimodal model is able to receive a video of you talking and decipher the breakdown of emotions that you were displaying based on your face, body language, and sound.</p>
    <p>To Try it, simply click on the camera icon and record a video.</p>
    <video id="videoPreview" autoplay muted></video> <!-- Video element for live preview -->
    <video id="videoPlayback" controls style="display:none;"></video> <!-- Video element for playback -->
    <progress id="recordingProgress" value="0" max="5" style="width: 100%; display: none;"></progress> <!-- Progress bar -->
    <button id="sendButton" class="button" style="display:none;">Send Video</button>
    <button id="cameraButton" class="button">Record Video</button>
    <button id="retakeButton" class="button" style="display:none;">Record Another Video</button>
    <div id="loadingIndicator" style="display:none;">Processing your video, please wait...</div>
    <button id="showResultsButton" style="display:none;" onclick="window.location.href='/visualize'">Show Results</button>  
  </div>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
